.sectionCSS {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    flex-direction: column;
}

.gridCss{
    display: flex;
    flex-direction: column;
    /* height: calc(100vh - 56.56rem - 36rem); */
    height: 80%;
    overflow-y: auto;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
    place-items: flex-start;
}

.ineerDIV {
    display: flex;
    flex-direction: row;
}
